.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.user-card {
  width: 20em;
  text-align: center;
  box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
}

mat-card-title,
mat-card-subtitle {
  margin-top: 0.5em;
}

img[mat-card-image] {
  height: 20em;
  object-fit: cover;
}
