<div class="profile-container" *ngIf="user">
  <mat-card class="user-card">
    <img mat-card-image [src]="userPhoto" alt="fotografia random d'usuari" />

    <mat-card-title>{{ user.name }} {{ user.surname }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>

    <mat-card-content>
      <p><strong>DNI:</strong> {{ user.id }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="profile-container" *ngIf="!user">
  <mat-card>
    <mat-card-content>
      <p>L'usuari no està registrat.</p>
    </mat-card-content>
  </mat-card>
</div>
